<div id="pending_confirmation">
  <p>Thank you for ordering with Bitcoin.</p>
  <p>Please wait while we confirm your Bitcoin payment.</p>
  <p>Pending confirmations: <%= @order.confirmations %></p>
</div>
