<div class="bitcoin_statuses">
  <% if @order.status == "Awaiting Confirmation" %>
    <%= render 'testt' %>
  <% elsif @order.status == "Completed" %>
    <%= render 'payment_confirmed' %>
  <% else %>
    <%= render 'bitcoin_payment' %>
  <% end %>
</div>

<script type="text/javascript">
  setInterval(function(){
    $.get("/update_order_status/<%= @order.id%>");
  }, 5000);
</script>



